<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>SkyVault </title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />

  <script src="https://cdn.tailwindcss.com"></script>
  <script>
tailwind.config = {
  theme: {
    extend: {
      colors: {
        midnightNavy: '#121829',
        electricCyan: '#00FFC8',
        softLavender: '#A899E6',
        lightGray: '#D8D8E7',
        darkSlate: '#1E2336',
      },
      fontFamily: {
        sans: ['Poppins', 'sans-serif'],
      },
      boxShadow: {
        glowCyan: '0 0 8px #00FFC8',
        glowLavender: '0 0 10px #A899E6',
      }
    }
  }
}


  </script>
</head>
<body class="bg-cosmicNavy text-moonlightGray font-sans min-h-screen flex flex-col">
